.My-image{
    
    img{
        width: 100px;
     }   

}

.family-div{
    background-color: black;

    p{
       color: aqua;
    }

    h1{
        color: blueviolet;
        font-size: 20px;
    }

    p{
        color: red;
    }
}

      

    section{
        background-color: rgb(173, 90, 90);
        padding: 20px;
    
        p{
            color: rgb(24, 90, 24);
        }

        div{
            background: rgb(108, 108, 146);
            padding: 20px;

        p{
            color: white;
        }

    }

}
